<h2 class="component-header">OPRET BRUGER</h2>

<div class="example-container">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Fornavn">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Efternavn">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Password">
  </mat-form-field>
</div>