.component-header {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 25px;
}

.register-container {
  display: flex;
  justify-content: center;
}

.example-form {
  max-width: 400px;
}

.example-full-width {
  width: 100%;
}

.create-btn {
    text-align: center;
    padding-top: 25px;
}
