<!-- <mat-tab-group (selectedTabChange)="tabClick($event)">
  <mat-tab label="Hund og Klikker"> <app-home></app-home> </mat-tab>
  <mat-tab label="Hold & Kurser"> <app-class-card></app-class-card> </mat-tab>
  <mat-tab label="Enetimer"> <app-single-class></app-single-class> </mat-tab>
  <mat-tab label="Praktisk"> <app-practical></app-practical> </mat-tab>
  <mat-tab label="Betingelser"> <app-terms></app-terms> </mat-tab>
  <mat-tab label="Login"> <app-login></app-login> </mat-tab>
  <mat-tab label="Register"> <app-create-customer></app-create-customer> </mat-tab>
</mat-tab-group> -->

<!-- <nav mat-tab-nav-bar>
    <a mat-tab-link
       *ngFor="let link of navLinks"
       [routerLink]="link.path"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{link.label}}
    </a>
  </nav> -->

<!-- <router-outlet></router-outlet> -->

