.example-card {
  max-width: 400px;
  margin: 50px;
  background-color: #f4f4f4;
  -webkit-box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.7);
  margin-bottom: 25px;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.example-header-image {
  background-image: url("https://bilkadk.imgix.net/medias/sys_master/root/hf4/h8b/9630709874718/hund-vaerd-at-vide-sundhed-og-sygdomstegn-01-z.jpg");
  background-size: cover;
}

.mat-card > .mat-card-actions:last-child {
  display: flex;
  justify-content: center;
}

#actions-container {
  margin-bottom: 10px !important;
}

.spinner-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
