body {
  background-color: #659DBD;
}

.mat-tab-nav-bar {
  background-color: #659DBD;
}

.mat-ink-bar {
  background-color: black !important;
}

.mat-tab-link {
  // color:yellow !important;
}

* {
  font-family: 'Lato', sans-serif !important;
}


// #8D8741 mørkegrøn
// #659DBD blå
// #DAAD86 mørksand
// #FBEEC1 lyssand
// #bc986a jord


