.example-icon {
  padding: 0 14px;
}
  
.example-spacer {
  flex: 1 1 auto;
}

.menu-header {
  font-family: 'Montserrat', sans-serif;
}

.menu-item {
  font-family: 'Montserrat', sans-serif;
}

.mat-button-wrapper span:hover {
  border-bottom: solid 2px white !important;
}

.mat-toolbar-row {
  background-color: black;
}