<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>

      <div class="example-container">

        <div class="img-container">
          <img mat-card-image src="assets/hogklogo.JPG" alt="Picture">
        </div>

        <mat-card class="example-card1">
          <mat-card-title>Handelsbetingelser</mat-card-title>
          <mat-card-content>
            <p>
              Du tilmelder dig hundetræning ved at sende en mail til susanne@hundogklikker.dk. I din mail bedes du
              oplyse: Dit navn, adr, tlf.nr, mailadr., din hunds navn, alder, race og køn.
              Din tilmelding er bindende, og der gives ikke penge retur, hvis du melder afbud. Skulle holdet ikke blive
              oprettet pga for få tilmeldinger, får du selvfølgelig alle pengene retur.
              Du vil modtage en mail fra mig med bekræftelse på tilmeldingen og besked om der er plads på holdet. Din
              plads er imidlertid først sikret, når betalingen er modtaget, enten via mobilepay til tlf. 21224347 eller
              via bankoverførsel til Jyske Bank reg.nr 5035 konto nr 0001031435.
              Ved betaling bekræfter du samtidig, at du har læst og er indforstået med betingelserne beskrevet under
              praktiske forhold. Betalingen skal være modtaget inden holdstart/enetimen.
              Hvis jeg skulle være nødsaget til at aflyse pga sygdom, aftales en erstatningstræningtime for holdet.
              Normalt træner vi i alt slags vejr, men tordenvejr kan dog føre til aflysning af sikkerhedsmæssige
              årsager.
            </p>
          </mat-card-content>
        </mat-card>

      </div>

    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
</div>