<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>

      <div class="example-container">

        <div class="img-container">
          <img mat-card-image src="assets/hogklogo.JPG" alt="Picture">
        </div>

        <mat-card class="example-card1">
          <mat-card-title>Velkommen</mat-card-title>
          <mat-card-content>
            <p>
              Velkommen til Hund & Klikker. En nyetableret hundeskole på Stevns, baseret på positive indlæringsmetoder
              og den nyeste viden om hundetræning. Målet med hundetræningen her er, at det skal være sjovt for både hund
              og fører at træne, samtidig med at træningen er effektiv og målrettet. Jeg glæder mig til at byde dig
              velkommen til mine små hold her.
              Træningen foregår på en stor indhegnet træningsplads med græs.
            </p>
          </mat-card-content>
        </mat-card>

      </div>

    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
</div>